node_modules

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist

# large bigWig for testing
# downloaded by run-dependencies if it does not exist
resources/static/ENCFF686NUN.bigWig
